<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shhy.demo.dao.WxUserDao">
    <resultMap id="baseMap" type="com.shhy.demo.bean.WxUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="head_img_url" jdbcType="VARCHAR" property="headImgPath" />
        <result column="company_no" jdbcType="VARCHAR" property="companyNo"/>
    </resultMap>
    <resultMap id="Map" type="com.shhy.demo.bean.WxUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="head_img_url" jdbcType="VARCHAR" property="headImgPath" />
    </resultMap>
    <update id="update" parameterType="com.shhy.demo.bean.WxUser">
        UPDATE wx_user
        <trim prefix="set" suffixOverrides=",">
            <if test="null != openId">open_id = #{openId},</if>
            <if test="null != nickName">nick_name = #{nickName},</if>
            <if test="null != sex">sex = #{sex},</if>
            <if test="null != province">province = #{province},</if>
            <if test="null != city">city = #{city},</if>
            <if test="null != country">country = #{country},</if>
            <if test="null != headImgPath">head_img_url = #{headImgPath},</if>
            where id = #{id}
        </trim>
    </update>

    <select id="checkUserRegister" parameterType="string" resultType="boolean">
        <![CDATA[select count(id) from wx_user where open_id = #{openId}]]>
    </select>

    <select id="returnWxUserByOpenId" resultMap="baseMap">
        select id , open_id ,nick_name , head_img_url from wx_user where open_id = #{openId}
    </select>

    <select id="returnWxUserById" resultMap="baseMap">
        select * from wx_user where id = #{id}
    </select>
    <select id="getAllWxUser" resultMap="Map">
        select id , open_id , nick_name , sex , city , head_img_url from wx_user
    </select>

</mapper>